<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="true">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Informacje o przepisie</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Tytuł</mat-label>
        <input matInput placeholder="" formControlName="title" />
      </mat-form-field>
      <div>
        <button mat-raised-button color="accent" matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [editable]="true">
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of instructions; let i=index">{{i + 1 + ". " + item}}</mat-list-item>
      </mat-list>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Instrukcje</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Instrukcja</mat-label>
        <input matInput formControlName="instruction" placeholder="" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addInstruction()" >Dodaj instrukcje</button>
      <div class="inline-group">
        <button mat-raised-button color="accent" matStepperPrevious>
          Cofnij
        </button>
        <button mat-raised-button color="accent" matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [editable]="true">
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let item of ingredients; let i=index">{{i + 1 + ". " + item.name}}</mat-list-item>
      </mat-list>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Składniki</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Składnik</mat-label>
        <input matInput formControlName="ingredient" placeholder="" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="addIngredient()">Dodaj składnik</button>
      <div class="inline-group">
        <button mat-raised-button color="accent" matStepperPrevious>
          Cofnij
        </button>
        <button mat-raised-button color="accent" (click)="onSubmit()">
          Utwórz
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
