<mat-card class="card">
    <mat-card-content>
        <h1>Zarejestruj się</h1>
        <form class="form">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Nazwa uzytkownika</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Hasło</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Powtórz hasło</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </p>
          <button mat-raised-button color="primary">Zarejestruj</button>
        </form>
    </mat-card-content>
  </mat-card>
  