<mat-card class="card">
    <mat-card-content>
        <h1>Zarejestruj się</h1>
        <p class="error-msg">{{errorMessage}}</p>
        <form class="form" [formGroup]="form">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Nazwa uzytkownika</mat-label>
              <input matInput placeholder="" formControlName="username">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Hasło</mat-label>
              <input matInput placeholder="" formControlName="password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Powtórz hasło</mat-label>
              <input matInput placeholder="">
            </mat-form-field>
          </p>
        </form>
        <button mat-raised-button color="primary" (click)="onSubmit()">Zarejestruj</button>
    </mat-card-content>
  </mat-card>
  